<?xml version="1.0" encoding="utf-8"?>

<module clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Reingold.Episerver.SortableCheckboxListProperty" />
  </assemblies>
  <dojo>
    <paths>
      <add name="sortableCheckboxList" path="ClientResources" />
    </paths>
  </dojo>
  <clientModule>
	<moduleDependencies>
	  <add dependency="CMS" type="RunAfter" />
	  <add dependency="Shell" type="RunAfter"/>
	</moduleDependencies>
  </clientModule>
</module>